.App {
  text-align: center;
}

.green {
  background-color: aquamarine;
  text-align: center;
  min-height: 250px;
}

.yellow {
  background-color: lightgoldenrodyellow;
  min-height: 250px;
  text-align: center;
}

.red {
  background-color: lightpink;
  min-height: 250px;
  text-align: center;
}

.toDoForm {
  text-align: center;
}

.toDoCard {
  text-align: center;
  margin: 20px;
  height: 150px;
  width: 150px ;
  background-color: ivory;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 3px 3px;
}

.navBar {
  text-align: center;
}

.icon {
  font-size: 30px;
  margin: 15px;
  color: black;
}

.login {
  text-align: center;
}