.App {
  text-align: center;
}

.green {
  background-color: aquamarine;
  text-align: center;
  min-height: 250px;
}

.yellow {
  background-color: lightgoldenrodyellow;
  min-height: 250px;
  text-align: center;
}

.red {
  background-color: lightpink;
  min-height: 250px;
  text-align: center;
}

.toDoForm {
  text-align: center;
}

.toDoCard {
  text-align: center;
  margin: 20px;
  height: 150px;
  width: 150px ;
  background-color: ivory;
}

.navBar {
  text-align: center;
}

.login {
  text-align: center;
}