.App {
  text-align: center;
}

.green {
  background-color: aquamarine;
  text-align: center;
  min-height: 250px;
  width: 100%;
  ;
}

.yellow {
  background-color: lightgoldenrodyellow;
  min-height: 250px;
  text-align: center;
}

.red {
  background-color: lightpink;
  min-height: 250px;
  text-align: center;
}

.toDoForm {
  text-align: center;
  padding-top: 150px;
  border-width: 2px;
  border-color: black;
  
  
}

.toDoCard {
  text-align: center;
  margin: 20px;
  height: 150px;
  width: 150px ;
  background-color: ivory;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 3px 3px;
}

.navBar {
  text-align: center;
  padding-top: 20px;
}

.icon {
  font-size: 30px;
  margin: 15px;
  color: black;
}

.icon-trash {
  font-size: 30px;
  margin: 15px;
  color: black;
}

.login {
  text-align: center;
}

.login-button{
  margin: 150px;
}

.form-item{
  padding: 8px;
  margin: 8px;
  border-radius: 10px;
}

.icon:hover {
  color: blue;
}

.icon-trash:hover {
  color: red;
}

#robot-header{
  margin: 30px;
}

.help-text{
  padding-top: 50px;
}

.footer{
  text-align: center;
  padding-top: 14px;
  position:fixed;
  left:0px;
  bottom:0px;
  height:60px;
  width:100%;
}

.footer-icon{
  font-size: 20px;
  margin: 5px;
  color: black;
}

.footer-icon:hover{
  color:blue 
}

.footer-icon-plain{
  font-size: 20px;
  margin: 5px;
  color: black;
}